<%= render :partial => 'layouts/content' %>
<div class="content clearfix" >
							<div class="section main">
			<div class="section-header">
				<h1>Dashboard</h1>
			</div>
			<div class="shortcut-group section-content">
				<div class="header aligncenter">
					<h2>Audit Management</h2>
				</div>
				<ul class="quick-menu clearfix">
					<li class="blue">
						<a href="audit_index">
							<i class="icon-group"></i>
							<span>Audit</span>
						</a>
					</li>
					<li class="red">
						<a href="report_index">
							<i class="icon-file"></i>
							<span>Reports</span>
						</a>
					</li>
					<li>
						<a href="recommendation_index">
							<i class="icon-lightbulb"></i>
							<span>Recommendations</span>
						</a>
					</li>
					<li class="green">
						<a href="#">
							<i class="icon-ok"></i>
							<span>Action</span>
						</a>
					</li>
					<li class="yellow">
						<a href="dashboard_index">
							<i class="icon-bar-chart"></i>
							<span>Governance</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
</div>