<%= render :partial => "layouts/content" %>
<html>
<head>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    </head>
  <div class="content clearfix">
<div class = "section main">
	<div class ="section header">
		<h1>Calendar</h1>
	</div>
 <%= stylesheet_link_tag "event_calendar" %>
<%= javascript_include_tag "event_calendar" %>
<%= raw(event_calendar) %>
</div>
</div>
</html>