	<html lang= "en">
	<head>
		<title>Audit Managment</title>
		<link rel="stylesheet"  href="assets/css/bootstrap.css">
		<link rel="stylesheet"  href="assets/css/bootstrap-responsive.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
		<link href="assets/css/styler.css" rel="stylesheet">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<link rel="stylesheet" href="/resources/demos/style.css" />
		<script>
		 $(function() {
var icons = {
header: "ui-icon-circle-arrow-e",
activeHeader: "ui-icon-circle-arrow-s"
};
$( "#accordion" ).accordion({
icons: icons
});
$( "#toggle" ).button().click(function() {
if ( $( "#accordion" ).accordion( "option", "icons" ) ) {
$( "#accordion" ).accordion( "option", "icons", null );
} else {
$( "#accordion" ).accordion( "option", "icons", icons );
}
});
});
		</script>
	</head>
	<body>
		<%= render :partial => 'layouts/header' %>
		<div class="content clearfix">
			<div class="section menu">
				<ul class="navigation nav-collapse">
					<li class="active">
						<a href="dashboard_index">
							<i class= "icon-dashboard"></i>
							<span>Dashboard</span></a></li>
							<li>
										<a href="excel_index">
											<i class="icon-table"></i>
											<span>Excel</span>
										</a></li>
							<li>
								<a href="print_index">
									<i class="icon-print"></i>
									<span>Print</span>
								</a></li>
								<li>
									<a href="calendar_index">
										<i class="icon-calendar"></i>
										<span>Calendar</span>
									</a></li>
										<li>
											<a href="tables.html">
												<i class="icon-search"></i>
												<span>Find</span>
											</a></li>
											<li>
												<a href="Charts.html">
													<i class="icon-trash"></i>
													<span>Delete</span>
												</a></li>
											</ul>
										</div>
										<div class="section sidebar" id="accordion">
											<h3>Stackholder</h3>
											<div>
											</div>
											<h3>Interview</h3>
											<div>
											</div>
											<h3>Location</h3>
											<div>
											</div>
										</div>

									</div>
								</div>

							</body>
							</html>
